.root {
    -fx-focus-traversable: true;
}

.spinner,
.spinner .text-field,
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button,
.toggle-button,
.button {
    -fx-focus-traversable: false;
}

.spinner:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
}

.spinner .text-field:focused {
    -fx-highlight-fill: derive(-fx-control-inner-background, -20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
    linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-prompt-text-fill: transparent;
}

.spinner .increment-arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 3 0 0, 0 2 0 0, 0 1 0 0;
}

.spinner .decrement-arrow-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 3 0, 0 0 2 0, 0 0 1 0;
}