.game-button {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-padding: 0;
    -fx-background-color: green;
    -fx-cursor: hand;
}

.game-button:disabled {
    -fx-opacity: 1.0;
}

.game-button:hover {
    -fx-background-color: darkgreen;
}